<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>alpha_axis_a</joint_name>
            <joint_name>alpha_axis_b</joint_name>
            <joint_name>alpha_axis_c</joint_name>
            <joint_name>alpha_axis_d</joint_name>
            <joint_name>alpha_axis_e</joint_name>
        </plugin>

        <plugin
            filename="gz-sim-joint-trajectory-controller-system"
            name="gz::sim::systems::JointTrajectoryController">

            <!-- PRISMATIC -->
            <joint_name>alpha_axis_a</joint_name>
            <initial_position>0.005</initial_position>
            <position_p_gain>800.0</position_p_gain>
            <position_i_gain>0.0</position_i_gain>
            <position_d_gain>20.0</position_d_gain>
            <position_i_min>-0.1</position_i_min>
            <position_i_max>0.1</position_i_max>
            <position_cmd_min>-10</position_cmd_min>
            <position_cmd_max>10</position_cmd_max>
            <velocity_cmd_min>-1.0</velocity_cmd_min>
            <velocity_cmd_max>1.0</velocity_cmd_max>

            <!-- REVOLUTE B -->
            <joint_name>alpha_axis_b</joint_name>
            <initial_position>0</initial_position>
            <position_p_gain>20.0</position_p_gain>
            <position_i_gain>0.4</position_i_gain>
            <position_d_gain>1.0</position_d_gain>
            <position_i_min>-1.0</position_i_min>
            <position_i_max>1.0</position_i_max>
            <position_cmd_min>-20.0</position_cmd_min>
            <position_cmd_max>20.0</position_cmd_max>
            <velocity_cmd_min>-1.0</velocity_cmd_min>
            <velocity_cmd_max>1.0</velocity_cmd_max>

            <!-- REVOLUTE C -->
            <joint_name>alpha_axis_c</joint_name>
            <initial_position>0</initial_position>
            <position_p_gain>20.0</position_p_gain>
            <position_i_gain>0.4</position_i_gain>
            <position_d_gain>1.0</position_d_gain>
            <position_i_min>-1.0</position_i_min>
            <position_i_max>1.0</position_i_max>
            <position_cmd_min>-20.0</position_cmd_min>
            <position_cmd_max>20.0</position_cmd_max>
            <velocity_cmd_min>-1.0</velocity_cmd_min>
            <velocity_cmd_max>1.0</velocity_cmd_max>

            <!-- REVOLUTE D -->
            <joint_name>alpha_axis_d</joint_name>
            <initial_position>0</initial_position>
            <position_p_gain>20.0</position_p_gain>
            <position_i_gain>0.4</position_i_gain>
            <position_d_gain>1.0</position_d_gain>
            <position_i_min>-1.0</position_i_min>
            <position_i_max>1.0</position_i_max>
            <position_cmd_min>-20.0</position_cmd_min>
            <position_cmd_max>20.0</position_cmd_max>
            <velocity_cmd_min>-1.0</velocity_cmd_min>
            <velocity_cmd_max>1.0</velocity_cmd_max>

            <!-- REVOLUTE E -->
            <joint_name>alpha_axis_e</joint_name>
            <initial_position>0</initial_position>
            <position_p_gain>20.0</position_p_gain>
            <position_i_gain>0.4</position_i_gain>
            <position_d_gain>1.0</position_d_gain>
            <position_i_min>-1.0</position_i_min>
            <position_i_max>1.0</position_i_max>
            <position_cmd_min>-20.0</position_cmd_min>
            <position_cmd_max>20.0</position_cmd_max>
            <velocity_cmd_min>-1.0</velocity_cmd_min>
            <velocity_cmd_max>1.0</velocity_cmd_max>

        </plugin>

    </gazebo>


</robot>